<div class="registration">
    <div class="registration__title">Registration</div>
    <form [formGroup]="formGroup" class="form registration__form">
        <mat-form-field class="form__field">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="form__field">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="form__field">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone" type="phone">
        </mat-form-field>
        <mat-form-field class="form__field">
            <mat-label>websiteURL</mat-label>
            <input matInput formControlName="websiteURL">
        </mat-form-field>
        <mat-form-field class="form__field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="form__field">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="passwordHidden ? 'password' : 'text'">
            <mat-icon
                matSuffix
                (click)="passwordHidden = !passwordHidden"
            >{{passwordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <button
            mat-stroked-button
            color="primary"
            class="registration__button"
            (click)="reg($event)"
            [disabled]="!formGroup.valid"
        >Register
        </button>
        <div class="registration__link">
            <span>
                Have account? Go to the <a class="link" routerLink="/login">login page</a>
            </span>
        </div>
    </form>
</div>

<div class="spinner-wrapper" *ngIf="regInProcess">
    <mat-spinner diameter="50"></mat-spinner>
</div>
